@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/ArialRegular.eot");
  src: url("../fonts/Arial/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialRegular.woff") format("woff"), url("../fonts/Arial/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/ArialBold.eot");
  src: url("../fonts/Arial/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialBold.woff") format("woff"), url("../fonts/Arial/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src: url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Mediu.eot");
  src: local("NeueHaasDisplay-Mediu"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Mediu.woff2") format("woff2"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Mediu.woff") format("woff"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src: url("../fonts/NeueHaasDisplay/NeueHaasDisplay-RomanItalic.eot");
  src: local("NeueHaasDisplay-RomanItalic"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-RomanItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-RomanItalic.woff2") format("woff2"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-RomanItalic.woff") format("woff"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src: url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Roman.eot");
  src: local("../fonts/NeueHaasDisplay/NeueHaasDisplay-Roman"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Roman.woff2") format("woff2"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Roman.woff") format("woff"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src: url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Bold.eot");
  src: local("../fonts/NeueHaasDisplay/NeueHaasDisplay-Bold"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Bold.woff2") format("woff2"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Bold.woff") format("woff"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasGroteskDisplayPro";
  src: url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Light.eot");
  src: local("../fonts/NeueHaasDisplay/NeueHaasDisplay-Light"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Light.woff2") format("woff2"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Light.woff") format("woff"), url("../fonts/NeueHaasDisplay/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bigilla";
  src: url("../fonts/Bigilla/Bigilla.otf");
  src: local("../fonts/Bigilla/Bigilla.otf"), url("../fonts/Bigilla/Bigilla.otf") format("woff"), url("../fonts/Bigilla/Bigilla.otf") format("opentype"), url("../fonts/Bigilla/Bigilla.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay/ClashDisplay-Medium.eot");
  src: local("../fonts/ClashDisplay/ClashDisplay-Medium"), url("../fonts/ClashDisplay/ClashDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ClashDisplay/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay/ClashDisplay-Semibold.eot");
  src: local("../fonts/ClashDisplay/ClashDisplay-Semibold"), url("../fonts/ClashDisplay/ClashDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ClashDisplay/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay/ClashDisplay-Bold.eot");
  src: local("../fonts/ClashDisplay/ClashDisplay-Bold"), url("../fonts/ClashDisplay/ClashDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ClashDisplay/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay/ClashDisplay-Regular.eot");
  src: local("../fonts/ClashDisplay/ClashDisplay-Regular"), url("../fonts/ClashDisplay/ClashDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ClashDisplay/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair/PlayfairDisplay-Italic.ttf");
  src: local("../fonts/Playfair/PlayfairDisplay-Italic"), url("../fonts/Playfair/PlayfairDisplay-Italic.ttf") format("embedded-opentype"), url("../fonts/Playfair/PlayfairDisplay-Italic.ttf") format("woff2"), url("../fonts/Playfair/PlayfairDisplay-Italic.ttf") format("woff"), url("../fonts/Playfair/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body {
  min-height: 100vh;
  background-color: #101010;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "NeueHaasGroteskDisplayPro";
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

h1 {
  font-size: 192px;
}

h2 {
  font-size: 84px;
  font-weight: 500;
}

.text-primary {
  font-size: 44px;
  font-weight: 500;
}

.text {
  font-size: 36px;
  font-weight: 500;
}

.text-light-nhgdp {
  font-size: 20px;
  font-weight: 300;
}

.text-bold-arial {
  font-size: 17px;
  font-weight: 700;
}

.text-medium-cd {
  font-size: 44px;
  font-weight: 500;
}

.label {
  font-size: 14px;
  font-weight: 700;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  position: relative;
}

.header {
  position: relative;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.header__title {
  width: 100%;
  max-width: 760px;
  height: 100%;
  max-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-right: 2.7vw;
}
.header__title_NHDP-font {
  font-weight: 500;
  font-style: normal;
}
.header__title_PF-font {
  margin-top: -80px;
  margin-left: 155px;
  font-family: "Playfair";
  font-weight: 400;
  font-style: italic;
}

.circle-title {
  max-width: 709px;
  width: 100%;
  max-height: 709px;
  height: 100%;
  padding: 199.5px 31.5px 132.5px 31.5px;
  border: 7px solid #B6B6B6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.circle-title__text {
  max-width: 632px;
  width: 100%;
  max-height: 310px;
  height: 100%;
  font-size: 84px;
  font-weight: 500;
  font-style: normal;
}
.circle-title__text_gray {
  color: #616161;
}
.circle-title__text_italic {
  font-style: italic;
}
.circle-title__subtext {
  max-width: 154px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  margin-top: 38px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 7px;
}

.clouds-bg img {
  left: auto;
  right: auto;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  position: absolute;
  width: 100%;
}

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
  padding-left: 65px;
  padding-right: 76px;
}
.logo__link {
  max-width: 82px;
  max-height: 134px;
}
.logo__link object {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.logo__label {
  width: 100%;
  max-width: 218px;
  height: 100%;
  max-height: 18px;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 4px;
  text-align: right;
}
.logo__label span {
  padding-right: 6px;
}

.about-author__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 204px;
  z-index: 10;
}
.about-author__sign {
  max-width: 876px;
  width: 100%;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 152px;
}

.line {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.line__1st {
  left: 883px;
  top: 82px;
  max-width: 154px;
  max-height: 1px;
}
.line__2nd {
  left: 1037px;
  top: 82px;
  max-height: 1391px;
  max-width: 1px;
}
.line__3rd {
  left: 522px;
  top: 1472px;
  max-width: 515px;
  max-height: 1px;
}
.line__4th {
  max-width: 1px;
  max-height: 118px;
  left: 522px;
  top: 1472px;
}
.line__5th {
  max-width: 192px;
  max-height: 1px;
  left: 396px;
  top: 1590px;
}
.line__6th {
  max-width: 1px;
  max-height: 151px;
  left: 396px;
  top: 1590px;
}
.line__7th {
  max-width: 465px;
  max-height: 1px;
  left: 0;
  top: 1741px;
}
.line__8th {
  max-width: 1px;
  max-height: 305px;
  top: 1741px;
  left: 0;
}
.line__9th {
  max-width: 486px;
  max-height: 1px;
  top: 40px;
  left: 0;
}
.line__10th {
  max-width: 1px;
  max-height: 611px;
  top: 40px;
  left: 396px;
}
.line__11th {
  max-width: 1px;
  max-height: 2096px;
  top: 0;
  left: 0;
}
.line__12th {
  max-width: 486px;
  max-height: 1px;
  top: 1220px;
  left: 0;
}
.line__13th {
  max-width: 486px;
  max-height: 1px;
  top: 1760px;
  left: 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 304px;
}

.card {
  position: relative;
  max-width: 491px;
  width: 100%;
  max-height: 981px;
  height: 100%;
  border: 1px solid #fff;
  margin-right: 37px;
}
.card:last-child {
  margin-right: 0;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 67px 0 0 0;
  color: #fff;
}
.portfolio__img {
  position: relative;
  max-height: 716px;
  -webkit-filter: hue-rotate(320deg) blur(1px);
          filter: hue-rotate(320deg) blur(1px);
}
.portfolio__img img {
  border-radius: 67px 0 0 0;
  width: 100%;
  height: 100%;
}
.portfolio__img span {
  position: absolute;
  width: 100%;
  max-height: 1px;
  height: 100%;
  background-color: #fff;
  left: 0;
  bottom: 0;
}
.portfolio__description {
  margin-top: 10px;
  margin-left: 17px;
  margin-bottom: 28px;
  position: relative;
  max-height: 212px;
  height: 100%;
  max-width: 474px;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
}
.portfolio__title {
  font-size: 92px;
  font-family: "Bigilla";
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}
.portfolio__subtext {
  position: absolute;
  right: 33px;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 7px;
  line-height: 2;
}
.portfolio__sign-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #fff;
}
.portfolio__sign {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-family: "Arial";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4px;
  margin-right: 132px;
}

.circle {
  max-width: 16.5px;
  width: 100%;
  min-height: 16.5px;
  height: 100%;
  border-radius: 50%;
  margin-right: 18.5px;
}
.circle:last-child {
  margin-right: 0;
}
.circle_white {
  background-color: #fff;
}
.circle_black {
  border: 1px solid #fff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 50px 0;
  color: #fff;
}
.contacts__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  word-break: break-all;
  padding-top: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #fff;
}
.contacts__title {
  font-family: "Bigilla";
  font-size: 165px;
  font-weight: 400;
  font-style: normal;
  line-height: 94%;
  width: 100%;
  min-width: 449px;
  margin-bottom: 40px;
}
.contacts__img {
  max-width: 235px;
  max-height: 270px;
  margin-bottom: 60px;
}
.contacts__img img {
  width: 100%;
  height: 100%;
}
.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 24px;
  font-weight: 600;
  font-style: normal;
  font-size: 44px;
}
.contacts__link {
  max-width: 460px;
  width: 100%;
  max-height: 65.3px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  border-radius: 0 50px 50px 0;
  margin-bottom: 11.3px;
  letter-spacing: 10px;
  line-height: 100%;
  padding-top: 15px;
  padding-left: 45px;
}
.contacts__link:last-child {
  margin-bottom: 0;
}
.contacts__link_a {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  text-decoration: none;
  font-weight: 500;
  color: #ffa500;
  font-size: 22px;
  letter-spacing: 1px;
}
.contacts__link_a a {
  color: #ffa500;
}

.arrow {
  position: absolute;
  width: 100%;
  max-width: 1px;
  height: 100%;
  max-height: 407px;
  background-color: #fff;
  right: 75px;
  top: 195px;
}
.arrow::after {
  position: absolute;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  left: -4px;
  bottom: -10px;
}

.exp-n-edu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 50px 0 0;
  color: #fff;
}
.exp-n-edu__title {
  font-family: "Bigilla";
  font-size: 76px;
  font-weight: 400px;
  font-style: normal;
  line-height: 94%;
  padding-top: 37px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}
.exp-n-edu__title span {
  margin-right: 15px;
}
.exp-n-edu__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  font-weight: 500;
  margin-top: 31px;
  margin-left: 34px;
  margin-right: 43px;
  padding-bottom: 61px;
  overflow: hidden;
}
.exp-n-edu__subtitle {
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 12px;
}
.exp-n-edu__primary-text {
  text-align: justify;
  font-size: 22px;
  font-weight: normal;
}
.exp-n-edu__primary-text span {
  margin-right: 105px;
}
.exp-n-edu__primary-text span:nth-child(3) {
  margin-right: 156px;
}
.exp-n-edu__primary-text_year {
  font-size: 22px;
  padding-top: 10px;
}
.exp-n-edu__primary-text_italic {
  font-style: italic;
  font-size: 30px;
  margin-bottom: 18px;
}
.exp-n-edu__primary-text_italic span {
  margin-right: 130px;
}
.exp-n-edu__primary-text_italic span:nth-child(2) {
  margin-right: 105px;
}
.exp-n-edu__primary-text_normal {
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.exp-n-edu__text {
  text-align: justify;
  font-size: 22px;
  margin-bottom: 36px;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24.73vw;
  color: #fff;
  font-size: 94px;
  font-weight: 500;
  max-width: 1095px;
  width: 100%;
  max-height: 286px;
  height: 100%;
}
.stages span {
  color: #939393;
}
.stages__text-1 {
  margin-left: 144px;
  margin-bottom: 30px;
}

.abstract-elem {
  z-index: 1;
  position: absolute;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  top: -220px;
  right: -160px;
  max-width: 1000px;
  max-height: 1000px;
  overflow-x: hidden;
}
.abstract-elem img {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.spot-1 {
  z-index: 1;
  position: absolute;
  -webkit-filter: blur(35px);
          filter: blur(35px);
  top: -450px;
  left: -60%;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.spot-1 img {
  width: 78.125vw;
  height: 78.125vw;
  overflow-x: hidden;
}

.process {
  position: relative;
  margin-bottom: 247px;
}
.process__content {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  color: #fff;
  overflow: hidden;
}
.process__textbox {
  margin-left: 512px;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 123px;
}
.process__textbox li {
  position: relative;
  margin-bottom: 3.5px;
}
.process__textbox li:last-child {
  margin-bottom: 0;
}
.process__textbox li:nth-child(even) {
  color: #939393;
}
.process__textbox li span {
  position: absolute;
  background-color: #fff;
  max-width: 102px;
  width: 100%;
  max-height: 1px;
  height: 100%;
  top: 50%;
  left: -116px;
}
.process__title {
  color: #fff;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 74px;
}

.des-n-mus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7.37vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}
.des-n-mus__wrapper {
  padding-top: 2.1875vw;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  padding-bottom: 4.375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 380px;
  height: 100%;
  max-width: 1384px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 8px;
}
.des-n-mus__adobe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.des-n-mus__adobe img {
  max-width: 132px;
  width: 100%;
  max-height: 132px;
  height: 100%;
  margin-right: 3.36vw;
}
.des-n-mus__adobe span {
  margin-top: 18px;
  font-family: "ClashDisplay";
  font-size: 44px;
  font-weight: 500;
  line-height: 124%;
}
.des-n-mus__picbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.des-n-mus__picbox img {
  width: 100%;
  height: 100%;
  margin-right: 1.67vw;
}
.des-n-mus__picbox img:nth-child(1) {
  max-width: 50px;
  max-height: 75px;
}
.des-n-mus__picbox img:nth-child(2) {
  max-width: 84px;
  max-height: 69px;
}
.des-n-mus__picbox img:nth-child(3) {
  max-width: 70px;
  max-height: 70px;
}
.des-n-mus__picbox img:nth-child(4) {
  max-width: 80.5px;
  max-height: 80.5px;
}
.des-n-mus__picbox img:nth-child(5) {
  max-width: 91px;
  max-height: 91px;
}
.des-n-mus__picbox img:nth-child(6) {
  max-width: 200px;
  max-height: 73px;
}
.des-n-mus__picbox img:nth-child(7) {
  max-width: 61.5px;
  max-height: 99px;
}
.des-n-mus__picbox img:nth-child(8) {
  max-width: 122px;
  max-height: 122px;
}
.des-n-mus__picbox img:nth-child(9) {
  max-width: 120px;
  max-height: 120px;
}
.des-n-mus__picbox img:last-child {
  margin-right: 0;
}
.des-n-mus__subtitle {
  color: #939393;
  font-family: "ClashDisplay";
  font-size: 44px;
  font-weight: 500;
  line-height: 124%;
}

.development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7.37vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.development__wrapper {
  max-height: 380px;
  height: 100%;
  max-width: 1384px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  padding-top: 3.125vw;
  padding-left: 8.541vw;
  padding-right: 8.541vw;
  padding-bottom: 4.323vw;
  margin-bottom: 8px;
}
.development__basis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.development__basis img {
  margin-right: 7.526vw;
  width: 100%;
  height: 100%;
}
.development__basis img:nth-child(1) {
  max-width: 101px;
  max-height: 101px;
}
.development__basis img:nth-child(2) {
  max-width: 87px;
  max-height: 123px;
}
.development__basis img:nth-child(3) {
  max-width: 115px;
  max-height: 115px;
}
.development__basis img:last-child {
  margin-right: 0;
}
.development__web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.development__web img {
  width: 100%;
  height: 100%;
  margin-right: 2.057vw;
}
.development__web img:nth-child(1) {
  max-width: 175px;
  max-height: 74px;
}
.development__web img:nth-child(2) {
  max-width: 88px;
  max-height: 88px;
}
.development__web img:nth-child(3) {
  max-width: 147px;
  max-height: 46px;
}
.development__web img:nth-child(4) {
  max-width: 168px;
  max-height: 48px;
}
.development__web img:nth-child(5) {
  max-width: 76px;
  max-height: 76px;
}
.development__web img:nth-child(6) {
  max-width: 79px;
  max-height: 70px;
}
.development__web img:nth-child(7) {
  max-width: 83px;
  max-height: 63px;
}
.development__web img:last-child {
  margin-right: 0;
}
.development__subtitle {
  color: #939393;
  font-family: "ClashDisplay";
  font-size: 44px;
  font-weight: 500;
  line-height: 124%;
}