.container
    width: 100%
    max-width: 1550px
    margin: 0 auto
    position: relative

//Section header
.header
    position: relative

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0   
        background-image: url(../img/1-header/clouds.png)
        background-attachment: fixed
        background-position: center top
        background-repeat: no-repeat
        background-size: cover
        filter: blur(5px)
        min-height: 110vh
        // max-height: 1080px
        min-width: 100vw
        max-width: 1920px
        z-index: -1

    &__content
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        align-items: center

    &__title
        width: 100%
        max-width: 760px
        height: 100%
        // max-height: 350px
        max-height: 410px
        display: flex
        flex-direction: column
        color: $h1-color
        // margin-right: 52px
        margin-right: 2.7vw

        &_NHDP-font
            font-weight: $h1-weight
            font-style: normal

        &_PF-font
            margin-top: -80px
            margin-left: 155px
            font-family: 'Playfair'
            font-weight: $h1-weight-italic
            font-style: italic

.circle-title
    max-width: 709px
    width: 100%
    max-height: 709px
    height: 100%
    padding: 199.5px 31.5px 132.5px 31.5px
    // padding: 10.390625vw 1.640625vw 6.90104167vw 1.640625vw
    border: 7px solid $circle-color
    border-radius: 50%
    box-shadow: 0px 0px 0px 2px $circle-color,inset 0px 0px 0px 2px $circle-color, 0px 0px 20px 4px $circle-color,inset 0px 0px 20px 4px $circle-color
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    color: $h2-color-light

    &__text
        max-width: 632px
        width: 100%
        max-height: 310px
        height: 100%
        font-size: $h2-size
        font-weight: 500
        font-style: normal

        &_gray
            color: $h2-color-dark-gray

        &_italic
            font-style: italic

    &__subtext
        max-width: 154px
        width: 100%
        max-height: 36px
        height: 100%
        margin-top: 38px
        font-size: $subtext-size
        font-weight: normal
        font-style: normal
        letter-spacing: 7px

.logo
    position: relative
    display: flex
    justify-content: space-between
    padding-top: 52px
    padding-left: 65px
    padding-right: 76px

    &__link
        max-width: 82px
        max-height: 134px

        object
            pointer-events: none
            width: 100%
            height: 100%

    &__label
        width: 100%
        max-width: 218px
        height: 100%
        max-height: 18px
        color: $text-color-light
        font-weight: 600
        font-style: normal
        font-size: $label-size
        letter-spacing: 4px
        text-align: right

        span
            padding-right: 6px

//Section about-author
.about-author
    margin-bottom: 204px

    &__content
        position: relative
        display: flex
        flex-direction: column
        z-index: 10

    &__sign
        max-width: 876px
        width: 100%
        font-size: $text-size
        font-weight: 500
        font-style: normal
        color: $text-color-light
        line-height: 1.5
        margin-bottom: 152px

//line block start
.line
    position: absolute
    height: 100%
    width: 100%
    background-color: $line-color

    &__1st
        left: 883px
        top: 82px
        max-width: 154px
        max-height: 1px

    &__2nd
        left: 1037px
        top: 82px
        max-height: 1391px
        max-width: 1px

    &__3rd
        left: 522px
        top: 1472px    
        max-width: 515px
        max-height: 1px

    &__4th
        max-width: 1px
        max-height: 118px
        left: 522px
        top: 1472px

    &__5th
        width: 10vw
        max-width: 192px
        max-height: 1px
        left: 396px
        top: 1590px

    &__6th
        max-width: 1px
        max-height: 151px
        left: 396px
        top: 1590px

    &__7th
        max-width: 465px
        max-height: 1px
        left: 0
        top: 1741px

    &__8th
        max-width: 1px
        height: 2297px
        top: -262px
        left: 0

    &__9th
        max-width: 486px
        max-height: 1px
        top: 40px
        left: 0

    &__10th
        max-width: 1px
        max-height: 611px
        top: 40px
        left: 396px

    &__12th
        max-width: 486px
        max-height: 1px
        top: 1220px
        left: 0

    &__13th
        max-width: 486px
        max-height: 1px
        top: 1760px
        left: 0

    &__14th
        max-width: 1px
        height: 4548px
        top: 0
        left: 0
    
    &__15th
        max-width: 317px
        max-height: 1px
        top: 57px
        left: 0
//line block end

.info
    display: flex
    justify-content: flex-start
    margin-bottom: 304px

.card
    position: relative
    max-width: 491px
    width: 100%
    max-height: 981px
    height: 100%
    border: 1px solid $line-color
    margin-right: 37px

    &:last-child
        margin-right: 0

.portfolio
    display: flex
    flex-direction: column
    border-radius: 67px 0 0 0
    color: $text-color-light

    &__img
        position: relative
        max-height: 716px
        filter: hue-rotate(320deg) blur(1px)

        img
            border-radius: 67px 0 0 0
            width: 100%
            height: 100%

        &::before
            position: absolute
            content: ""
            width: 100%
            height: 100%
            max-height: 1px
            background-color: $line-color
            bottom: 0
            left: 0

    &__description
        padding-top: 10px
        padding-left: 17px
        padding-right: 20px
        padding-bottom: 28px
        position: relative
        display: flex
        width: 100%
        word-break: break-all

        &::before
            position: absolute
            content: ""
            width: 100%
            height: 100%
            max-height: 1px
            background-color: $line-color
            bottom: 0
            left: 0

    &__title
        position: relative
        font-size: $pf-title-size
        font-family: 'Bigilla'
        font-weight: $pf-title-weight
        font-style: normal
        line-height: 1
    
    &__subtext
        position: absolute
        right: 0
        bottom: 0
        display: flex
        flex-direction: column
        font-weight: $text-light-weight-nhgdp
        font-size: $text-light-size-nhgdp
        font-style: normal
        letter-spacing: 7px
        line-height: 2

    &__sign-block
        position: relative
        display: flex        
        align-items: center
        padding-top: 10px
        padding-bottom: 10px
        padding-left: 20px
        padding-right: 25px

    &__sign
        font-family: 'Arial'
        font-size: $subtext-size
        font-style: normal
        font-weight: 700
        letter-spacing: 4px
        margin-right: auto

.circle
    width: 100%
    max-width: 16.5px
    height: 100%
    min-height: 16.5px
    border-radius: 50%
    margin-right: 18.5px

    &:last-child
        margin-right: 0

    &_white
        background-color: $circle-color-light

    &_black
        border: 1px solid $circle-color-light
        
.contacts
    display: flex
    flex-direction: column
    border-radius: 0 0 50px 0
    color: $text-color-light

    &__block
        position: relative
        display: flex
        flex-direction: column
        word-break: break-all
        padding-top: 25px
        padding-left: 25px
        padding-right: 25px
        padding-bottom: 60px
        border-bottom: 1px solid $line-color
        
    &__title
        font-family: 'Bigilla'
        font-size: $contacts-title-size
        font-weight: $contacts-title-weight
        font-style: normal
        line-height: 95%
        margin-bottom: 40px

    &__img
        max-width: 235px
        max-height: 270px

        img
            width: 100%
            height: 100%

    &__links
        display: flex
        flex-direction: column
        justify-content: center
        padding-top: 14px
        padding-left: 25px
        padding-right: 25px
        padding-bottom: 14px
        font-weight: $link-weight-bold
        font-style: normal
        font-size: $text-primary-size

    &__link        
        width: 100%
        max-width: 460px
        height: 100%
        max-height: 65.3px
        display: flex
        border: 1px solid $line-color
        border-radius: 0 50px 50px 0
        margin-bottom: 11.3px 
        letter-spacing: 10px
        line-height: 100%
        padding-top: 15px
        padding-left: 45px

        &:last-child
            margin-bottom: 0

        &_a
            padding-top: 18.5px       
            padding-bottom: 18.5px
            text-decoration: none
            font-weight: $link-weight
            color: $link-color
            font-size: $link-size
            letter-spacing: 1px

            a
                color: $link-color

.arrow
    position: absolute
    width: 100%
    max-width: 1px
    height: 100%
    max-height: 407px
    background-color: $line-color
    right: 75px
    top: 195px

    &::after        
        position: absolute
        content: ""
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 10px solid $arrow-color
        left: -4px
        bottom: -10px

.exp-n-edu
    position: relative
    display: flex
    flex-direction: column
    border-radius: 0 50px 0 0
    color: $text-color-light

    &__title
        font-family: 'Bigilla'
        font-size: $exp-n-edu-title-size
        font-weight: $exp-n-edu-title-weight
        font-style: normal
        line-height: 95%
        padding-top: 37px
        padding-left: 37px
        padding-right: 37px
        padding-bottom: 40px
        border-bottom: 1px solid $line-color

        span
            margin-right: 15px

    &__description
        display: flex
        flex-direction: column
        font-size: 30px
        font-weight: 500
        padding-top: 31px
        padding-left: 34px
        padding-right: 43px
        padding-bottom: 30px

    &__subtitle
        font-weight: 600
        font-size: 30px
        font-style: normal
        margin-bottom: 12px

    &__primary-text
        text-align: justify
        font-size: 22px
        font-weight: normal

        span
            margin-right: 105px

            &:nth-child(3)
                margin-right: 156px
        
        &_year
            font-size: 22px
            padding-top: 10px

        &_italic
            font-style: italic
            font-size: 30px
            margin-bottom: 18px
            
            span
                margin-right: 130px

                &:nth-child(2)                    
                    margin-right: 105px

        &_normal
            font-style: normal
            font-size: 30px
            font-weight: 500
            margin-bottom: 20px

    &__text
        text-align: justify
        font-size: 22px
        margin-bottom: 36px

.stages
    display: flex
    flex-direction: column
    margin-left: 475px
    color: $text-color-light
    font-size: 94px
    font-weight: 500

    span
        color: $text-color-light-gray

    &__text-1
        margin-left: 144px
        margin-bottom: 30px

// Section process
.abstract-elem
    z-index: 1
    position: absolute
    filter: blur(1px)
    top: -220px
    right: -160px
    max-width: 1000px
    max-height: 1000px

    img
        width: 100%
        height: 100%

.spot-1
    z-index: 1
    position: absolute
    filter: blur(35px)
    top: -450px
    left: -60%
    overflow: hidden
    transform: rotate(180deg)

    img
        width: 78.125vw
        height: 78.125vw
        overflow-x: hidden

.spot-2
    z-index: 1
    position: absolute
    filter: blur(35px)
    top: 850px
    right: -65%

    img
        width: 78.125vw
        height: 78.125vw

.process
    position: relative
    margin-bottom: 247px

    &__content
        z-index: 10
        position: relative
        display: flex
        flex-direction: column
        color: $text-color-light

    &__textblock
        margin-left: 512px
        font-size: $text-primary-size
        font-weight: $text-primary-weight
        line-height: 1.5
        margin-bottom: 123px

        li
            position: relative
            margin-bottom: 3.5px

            &:last-child
                margin-bottom: 0

            &:nth-child(even)
                color: $text-color-light-gray                

            span
                position: absolute
                background-color: $line-color
                max-width: 102px
                width: 100%
                max-height: 1px
                height: 100%
                top: 50%
                left: -116px

    &__title
        color: $h2-color-light
        font-weight: $h2-weight
        font-style: normal
        margin-bottom: 74px

.des-n-mus
    display: flex
    flex-direction: column
    // margin-left: 141px
    margin-left: 7.37vw
    align-items: center
    margin-bottom: 95px

    &__wrapper
        // padding-top: 42px
        // padding-left: 120px
        // padding-right: 120px
        // padding-bottom: 84px
        padding-top: 2.1875vw
        padding-left: 6.25vw
        padding-right: 6.25vw
        padding-bottom: 4.375vw
        display: flex
        flex-direction: column
        max-height: 380px
        height: 100%
        max-width: 1384px
        width: 100%
        border: 1px solid $line-color
        border-radius: 50%
        margin-bottom: 8px

    &__adobe
        display: flex
        flex-wrap: wrap
        justify-content: center

        img
            max-width: 132px
            width: 100%
            max-height: 132px
            height: 100%
            // margin-right: 64.5px
            margin-right: 3.36vw

        span
            margin-top: 18px
            font-family: 'ClashDisplay'
            font-size: $text-medium-size-cd
            font-weight: $text-medium-weight-cd
            line-height: 124%

    &__picbox
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        
        img
            width: 100%
            height: 100%
            margin-right: 1.67vw
            // margin-right: 32px

            &:nth-child(1)
                max-width: 50px
                max-height: 75px

            &:nth-child(2)
                max-width: 84px
                max-height: 69px

            &:nth-child(3)
                max-width: 70px
                max-height: 70px

            &:nth-child(4)
                max-width: 80.5px
                max-height: 80.5px

            &:nth-child(5)
                max-width: 91px
                max-height: 91px

            &:nth-child(6)
                max-width: 200px
                max-height: 73px

            &:nth-child(7)
                max-width: 61.5px
                max-height: 99px

            &:nth-child(8)
                max-width: 122px
                max-height: 122px

            &:nth-child(9)
                max-width: 120px
                max-height: 120px

            &:last-child
                margin-right: 0

    &__subtitle
        color: $text-color-light-gray
        font-family: 'ClashDisplay'
        font-size: $text-medium-size-cd
        font-weight: $text-medium-weight-cd
        line-height: 124%

.development
    display: flex
    flex-direction: column
    // margin-left: 141px
    margin-left: 7.37vw
    align-items: center

    &__wrapper
        max-height: 380px
        height: 100%
        max-width: 1384px
        width: 100%
        border: 1px solid $line-color
        border-radius: 50%
        // padding-top: 60px
        // padding-left: 164px
        // padding-right: 164px
        // padding-bottom: 83px
        padding-top: 3.125vw
        padding-left: 8.541vw
        padding-right: 8.541vw
        padding-bottom: 4.323vw
        margin-bottom: 8px
    
    &__basis
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        margin-bottom: 40px

        img
            // margin-right: 144.5px
            margin-right: 7.526vw
            width: 100%
            height: 100%

            &:nth-child(1)                
                max-width: 101px
                max-height: 101px

            &:nth-child(2)                
                max-width: 87px
                max-height: 123px

            &:nth-child(3)                
                max-width: 115px
                max-height: 115px

            &:last-child
                margin-right: 0

    &__web
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center

        img
            width: 100%
            height: 100%
            // margin-right: 39.5px
            margin-right: 2.057vw

            &:nth-child(1)                
                max-width: 175px
                max-height: 74px

            &:nth-child(2)                
                max-width: 88px
                max-height: 88px

            &:nth-child(3)                
                max-width: 147px
                max-height: 46px

            &:nth-child(4)                
                max-width: 168px
                max-height: 48px

            &:nth-child(5)                
                max-width: 76px
                max-height: 76px

            &:nth-child(6)                
                max-width: 79px
                max-height: 70px

            &:nth-child(7)                
                max-width: 83px
                max-height: 63px

            &:last-child
                margin-right: 0

    &__subtitle
        color: $text-color-light-gray
        font-family: 'ClashDisplay'
        font-size: $text-medium-size-cd
        font-weight: $text-medium-weight-cd
        line-height: 124%

//Section works
.works
    position: relative
    margin-bottom: 200px

    &__content
        position: relative
        display: flex
        flex-direction: column
        color: $text-color-light

    &__title
        text-align: center
        margin-bottom: 108px

        span
            color: $h2-color-light-gray

    &__big-line
        position: relative
        width: 100%
        height: 100%

        &::before
            position: absolute
            content: ""
            background-color: $line-color
            width: 1px
            // height: 48%
            height: 1980px
            top: -150px
            left: 58px

    &__description-1
        display: flex
        justify-content: flex-start
        align-items: flex-start
        margin-left: 112px
        // margin-left: 5.833vw
        font-weight: 500
        font-style: normal        

    &__number
        font-size: 82px
        position: relative

        &_1

            &::before
                content: ""
                position: absolute
                width: 30px
                height: 1px
                background-color: $line-color
                left: -52px
                top: 45%

        &_2
            margin-right: 2.1875vw//42px    

            &::before
                content: ""
                position: absolute
                width: 30px
                height: 1px
                background-color: $line-color
                left: -54px
                top: 42%

    &__img-1
        position: relative
        top: -20px
        width: 100%
        max-width: 314px
        height: 100%
        max-height: 314px
        margin-right: 68px

        &::before
            content: ""
            position: absolute
            background-color: $line-color
            width: 100%
            max-width: 1px
            height: 100%
            max-height: 251px
            top: 31px
            right: -9px

        img
            width: 100%
            height: 100%

    &__1st-textblock
        width: 100%
        max-width: 957px
        display: flex
        flex-direction: column
        line-height: 130%
        font-size: $text-size
        font-weight: $text-weight
        font-style: normal

        span
            margin-bottom: 42px

            &:last-child
                margin-bottom: 0
                font-size: 30.5px
                font-weight: 300

                &:nth-child(1)
                    font-weight: 600
                    color: $text-color-light-gray

    &__picblock-1
        position: relative
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        max-height: 1155px
        padding-bottom: 1201px
        margin-bottom: 257px

        img
            border: 1px solid $line-color
            border-radius: 10px
            width: 100%
            height: 100%

    &__img-2                   
        position: absolute
        // top: 40px
        top: 2.083vw
        // left: 147px
        left: 7.656vw
        // width: 100%
        width: 59.791vw
        max-width: 1148px
        max-height: 890px
        z-index: 2

    &__img-3                   
        position: absolute
        // top: 13px
        top: 0.677vw
        // left: 969px
        left: 50.468vw
        // width: 100%
        width: 19.531vw
        max-width: 375px
        max-height: 500px
        z-index: 3

    &__img-4      
        position: absolute
        // top: 48px
        top: 2.5vw
        // left: 1316px
        left: 68.542vw
        // width: 100%
        width: 15.677vw
        max-width: 301px
        max-height: 1153px
        z-index: 2

    &__img-5          
        position: absolute
        // top: 976px
        top: 50.833vw
        // left: 147px
        left: 7.656vw
        // width: 100%
        width: 71.093vw
        max-width: 1365px
        max-height: 170px
        z-index: 3

    &__description-2
        display: flex
        align-items: flex-start
        margin-left: 112px
        font-weight: 500
        font-style: normal  
        z-index: 10
        margin-bottom: 62px

    &__2nd-textblock
        display: flex
        flex-direction: column
        position: relative
        // margin-right: 86px
        margin-right: 4.479vw
    
    &__header-wrapper
        display: flex
        margin-bottom: 88.5px

    &__2nd-headtext
        font-family: 'ClashDisplay'
        font-weight: 600
        font-size: 105px
        max-height: 151px
        display: flex
        flex-direction: column
        align-items: center
        margin-top: -15px

        span

            &:nth-child(1)          
                font-size: 50px
    
    &__text-wrapper
        position: relative
        width: 100%
        // width: 26.146vw
        max-width: 502px
        height: 100%
        max-height: 527px
        margin-left: 114px
        font-size: $text-size
        font-style: normal 
        display: flex
        flex-direction: column

        span
            margin-bottom: 50px

            &:first-child
                
                span
                    color: $dark-gray    

            &:last-child
                margin-bottom: 0

                span
                    color: $dark-gray

        &::before
            position: absolute
            content: ""
            width: 1px
            height: 414px
            background-color: $line-color
            top: 0
            left: -54px

    &__picblock-2
        display: flex
        position: relative
        max-width: 769px
        max-height: 841px

        img
            border: 1px solid $line-color
            border-radius: 10px
            width: 100%
            height: 100%

    &__img-6     
        max-width: 178px
        max-height: 386px
        margin-right: 19px
        // margin-right: 0.989vw

    &__img-7
        max-width: 178px
        max-height: 841px
        margin-right: 19px
        // margin-right: 0.989vw

    &__img-group-1
        display: flex
        margin-bottom: 19px

    &__img-8
        width: 100%
        max-width: 178px
        margin-right: 19px
        // margin-right: 0.989vw
    
    &__img-9
        width: 100%
        max-width: 178px

    &__img-group-2
        display: flex
        flex-direction: column

    &__img-10
        width: 100%
        max-width: 376px
        margin-bottom: 19px

    &__img-11
        width: 100%
        max-width: 376px
    
    &__picblock-3
        position: relative
        display: flex
        align-items: flex-start
        justify-content: flex-start
        width: 100%
        margin-left: 237px
        // margin-left: 12.344vw

        img
            border: 1px solid $line-color
            border-radius: 20px

        div
            // margin-right: 1.71875vw
            margin-right: 32px

            &:last-child                     
                margin-right: 0px

    &__img-12
        max-width: 307px
        max-height: 665px

        img
            width: 100%
            height: 100%

    &__img-13
        max-width: 307px
        max-height: 1450px

        img
            width: 100%
            height: 100%

    &__img-14
        max-width: 307px
        max-height: 665px

        img
            width: 100%
            height: 100%

    &__img-15
        max-width: 307px
        max-height: 665px

        img
            width: 100%
            height: 100%

//Section Inspirations
.inspirations
    margin-bottom: 80px

    &__content
        position: relative
        display: flex
        flex-direction: column        

        h2
            padding-left: 248px
            margin-bottom: 54px
            position: relative

            &::before
                position: absolute
                content: ""
                width: 100%
                max-width: 219px
                height: 100%
                max-height: 1px
                background-color: $line-color
                top: 50%
                left: 0

    &__picblock
        display: flex
        justify-content: flex-start
        margin-bottom: 120px

        img
            height: 100%
            width: 100%

    &__pic-1
        max-width: 402px
        max-height: 274px
        // margin-right: 42px
        margin-right: auto

    &__pic-2
        max-width: 384px
        max-height: 274px
        // margin-right: 42px
        margin-right: auto

    &__pic-3
        max-width: 379px
        max-height: 274px
        // margin-right: 42px
        margin-right: auto

    &__pic-4
        max-width: 321px
        max-height: 274px

    &__textblock
        display: flex
        flex-direction: column
        font-size: $text-size
        font-weight: $text-weight
        line-height: 130%    

        p
            text-align: justify
            margin-bottom: 48px

        a
            color: $text-color-dark-gray
            position: relative

            &::before
                position: absolute
                content: ""
                width: 100%
                height: 1px
                background-color: $line-color-dark-gray
                left: 0
                bottom: 0

//Section footer
.footer
    margin-bottom: 76px

    &__content
        position: relative
        display: flex
        justify-content: space-between
        align-items: center

        span
            font-size: $label-size
            font-weight: $label-weight
            letter-spacing: 4px
            line-height: 200%

    &__line
        position: relative
        width: 100%
        max-width: 1308px
        height: 1px
        background-color: $line-color


