$white: #fff
$black: #101010
$dark-gray: #616161
$light-gray: #939393
$light-gray-2: #B6B6B6
$orange: #ffa500

$body-text-color: $white
$bg-color: $black
$h1-color: $white
$h2-color-light: $white
$h2-color-dark-gray: $dark-gray
$h2-color-light-gray: $light-gray
$text-color-light: $white
$text-color-dark-gray: $dark-gray
$text-color-light-gray: $light-gray

$circle-color: $light-gray-2
$circle-color-light: $white
$line-color: $white
$line-color-dark-gray: $dark-gray
$arrow-color: $white
$link-color: $orange

$h1-size: 12em//192px
$h1-weight: 500
$h1-weight-italic: 400
$h2-size: 84px
$h2-weight: 500
$subtext-size: 18px
$text-primary-size: 44px
$text-primary-weight: 500
$text-size: 2.25em//36px
$text-weight: 500
$text-light-size-nhgdp: 20px
$text-light-weight-nhgdp: 300
$text-bold-size-arial: 17px
$text-bold-weight-arial: 700
$text-medium-size-cd: 44px
$text-medium-weight-cd: 500
$link-weight: 500
$link-weight-bold: 600
$link-size: 22px

$label-size: 14px
$label-weight: 700

$pf-title-size: 92px
$pf-title-weight: 400

$contacts-title-size: 165px
$contacts-title-weight: 400

$exp-n-edu-title-size: 76px
$exp-n-edu-title-weight: 400px
